{% include "header.html" %}

<header class="masthead" style="background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Ffree-background&psig=AOvVaw12nFBjsynP-7yFfHQMVHRH&ust=1680942709341000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCIDI7tutl_4CFQAAAAAdAAAAABAE')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Searched Blog</h1>
          <span class="subheading">A collection of random musings.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for post in posts %}
      <div class="post-preview">
        <a href="{{ url_for('show_post', post_id=post.id) }}">
          <h2 class="post-title">
            {{post.title}}
          </h2>
          <h3 class="post-subtitle">
            {{post.subtitle}}
          </h3>
        </a>
        <p class="post-meta">Posted by
          {{post.author.name}}
          on {{post.date}}
          
          
        </p>
      </div>
      {% endfor %}


      <!-- New Post -->
     
      
    </div>
  </div>
</div>

{% include "footer.html" %}